In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("dataset.csv");
data

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,21-03-2001,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [3]:
data.shape

(10, 14)

In [4]:
len(data)

10

In [5]:
data.tail(5)

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [6]:
data.head()

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,21-03-2001,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90

In [7]:
data.query("Address=='Ahmedabad'")

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85

In [8]:
data.query("Address=='Ahmedabad' & university=='GLS'")

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90

In [9]:
data.iloc[2:]

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [10]:
data.iloc[[2,3,4],[2,3,4]]

        Enrollment    name gender
2  201900319010145   Dipen   Male
3  201900319010165   Suraj   Male
4  201900319010133  Krunal   Male

In [11]:
data.columns

Index(['id', 'Course ', 'Enrollment', 'name', 'gender', 'dob', 'Address',
       'email', 'ssc', 'hsc', 'gr', 'dgree', 'university', 'pg Avgtill'],
      dtype='object')

In [12]:
data.columns[1]

'Course '

In [20]:
data[data['Course ']=='MCA'].head(5)

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85

In [22]:
data[(data['Course ']=="MCA") & (data['gender']=="Male")]

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [23]:
data

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,21-03-2001,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [28]:
data['pg Avgtill'].max()

98

In [27]:
data['pg Avgtill'].min()

50

In [29]:
data['pg Avgtill'].mean()

78.2

In [30]:
data['pg Avgtill'].count()

10

In [34]:
data['pg Avgtill'].sum()

782

In [32]:
data

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,21-03-2001,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [36]:
data['gender'].replace(['Male','Female'],['M','f'])

0    M
1    f
2    M
3    M
4    M
5    M
6    f
7    M
8    f
9    M
Name: gender, dtype: object

In [37]:
data.rename(columns={'gender':"M/F"})

,id,Course,Enrollment,name,M/F,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,21-03-2001,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,24-12-2001,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [38]:
data[data['dob'].isnull()]

Empty DataFrame
Columns: [id, Course , Enrollment, name, gender, dob, Address, email, ssc, hsc, gr, dgree, university, pg Avgtill]
Index: []

In [39]:
data.drop([1,2])

,id,Course,Enrollment,name,gender,dob,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,08-08-2002,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
3,4,MCA,201900319010165,Suraj,Male,01-01-2002,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,02-02-2002,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,03-03-2002,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,04-04-2002,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,19-09-2001,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,22-09-2001,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,12-12-2002,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75

In [40]:
data.drop(['dob'],axis=1)

,id,Course,Enrollment,name,gender,Address,email,ssc,hsc,gr,dgree,university,pg Avgtill
0,1,MCA,201900319010182,Manan,Male,Ahmedabad,man@gmail.com,59.00%,74.00%,2022,BCA,GLS,80
1,2,MSCIT,201900319010178,Kanan,Female,Surat,kan@gmail.com,60.00%,84.00%,2022,BCA,INDUS,84
2,3,MCA,201900319010145,Dipen,Male,Ahmedabad,dipen@gmail.com,59.00%,76.00%,2022,BCA,GLS,90
3,4,MCA,201900319010165,Suraj,Male,Baroda,suraj@gmail.com,68.00%,70.00%,2022,BCA,GUJ,50
4,5,MSCIT,201900319010133,Krunal,Male,Rajkot,k@gmail.com,55.00%,85.00%,2022,BTECH,GUJ,90
5,6,MCA,201900319010112,Yash,Male,Ahmedabad,yash@gmail.com,85.00%,45.00%,2022,BCA,GUJ,98
6,7,MSCIT,201900319010122,Zeel,Female,Surat,zeel@gmail.com,55.00%,55.00%,2021,BCOM,GLS,65
7,8,MCA,201900319010169,Femil,Male,Ahmedabad,ke@gmail.com,89.00%,89.00%,2022,BBA,GUJ,85
8,9,MCA,201900319010155,Khushi,Female,Rajkot,kh@gma.com,55.00%,95.00%,2022,BCA,GLS,65
9,10,MCA,2019003190410112,Jay,Male,Surat,jay@gmail.com,66.00%,75.00%,2021,BBA,INDUS,75